<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="lists-box">
    <div class="lists-view-box">
        <ul class="lists-list">
            <!-- liste mit button um neue liste zu erstellen-->
            <li>List item</li>
        </ul>
        <button class="add-list"><i class="fa fa-plus"></i></button>
    </div>
    <div class="todo-list-items">
        <!-- items in der liste-->
        <app-todo-list-items></app-todo-list-items>
    </div>
</div>